variables:
  - name: version.MajorMinor # Manually adjust the version number as needed for semantic versioning. Patch is auto-incremented.
    value: '0.10'
  
name: $(version.MajorMinor)$(rev:.r)

trigger:
  branches:
    include:
    - master

pr: none

resources:
  repositories:
    - repository: pipeline-templates
      type: git
      name: DevLabs Extensions/pipeline-templates
      ref: main

stages:
- stage: 'Build'
  jobs:
  - job: 'BuildPack'
    displayName: "Build and package"
    pool:
      vmImage: ubuntu-latest
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '16.x'
    - template: build.yml@pipeline-templates
    - template: package-npm.yml@pipeline-templates

- stage: 'DeployTest'
  displayName: 'Deploy to Test (Azure Artifact)'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - template: deploy-npm.yml@pipeline-templates
    parameters:
      environment: 'test'
      publishFeed: 'DevLabs Extensions/extensions'

- stage: 'DeployPublic'
  displayName: 'Deploy to Public (NPM)'
  dependsOn: DeployTest
  condition: succeeded()
  jobs:
  - template: deploy-npm.yml@pipeline-templates
    parameters:
      environment: 'public'
      publishEndpoint: 'npm-process-migrator'
